@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom right, #2980B9, #4287f5);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .relogio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 700px;
    width: 700px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

  .minutos, .segundos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 5px;
    }

.relogio span {
    font-weight: bolder;
    font-size: 100px;
}

.relogio span.tempo {
    font-size: 20px;
}
  
h1 {
  font-size: 50px;
  margin-bottom: 60px;
  position: relative; /* Permite posicionar o elemento filho */
}

h1 span {
  display: inline-block;
  color: #ffffff; /* Cor diferente para a palavra "Pomodoro" */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-title {
  animation: fadeIn 1s ease-in-out;
}
  
  .timer {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  button {
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: 0px 6px 0px rgb(235, 235, 235);
    font-size: 22px;
    height: 55px;
    width: 200px;
    color: #ffffff;
    background-color: #4287f5;
    transition: color 0.5s ease-in-out 0s;
  }
  
  button:hover {
    color: #4287f5;
    background-color: #f7f7f7;
  }